<a href="https://colab.research.google.com/github/Emad2241/digital_products/blob/master/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Data Science Tools and Ecosystem

#introduction

In this notebook, Data Science Tools and Ecosystem are summarized

#Some of the popular languages that Data Scientists use are:

##**Objectives**:

List popular languages for Data Science, Some of the commonly used libraries used by Data Scientists include, Below are a few examples of evaluating arithmetic expressions in Python, This a simple arithmetic expression to mutiply then add integers, This will convert 200 minutes to hours by diving by 60

1- Python

2- R

3- SQL

4- Java

5- Julia

#Some of the commonly used libraries used by Data Scientists include:

1-Numpy

2-Pandas

3-Matplotlib

4-Scikit-Learn

5-Scipy

6-TensorFlow

7-PyTorch

 |Data Science Tools |
| -------- |
| Jupyter Notebooks |
| RStudio |
| IBM Watsonx.ai |

#Below are a few examples of evaluating arithmetic expressions in Python

In [34]:
x=5+8
x

13

In [35]:
y=98/12
y

8.166666666666666

In [36]:
z=14**3
z

2744

This a simple arithmetic expression to mutiply then add integers.

In [37]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

> Add blockquote

In [41]:
hour=200/60
hour= f'our time is {hour} hours'
hour

'our time is 3.3333333333333335 hours'

## Author

Mohammad Emadoddin